body{
    color: rgb(0, 0, 0);
    background: rgb(109, 109, 108);
    margin: 0px;
    font-family: "Gravitas One", sans-serif;
}

header{
    border-bottom: solid 2px red;
    padding: 20px;
    font-size: 32px;
    color: rgb(219, 220, 238);
}

section{
    background: rgb(255, 255, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
margin-right: 5%;
} 
img{
    height: 200px;
}
.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1,0;
    border: 1px solid rgb(226, 43, 43);

}
.categoria h2{
    color:black;
}



